@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color: rgb(144, 231, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Roboto Mono', monospace;
}
.calculator{
    background-color: rgb(159 182 215);
    padding: 15px;
    margin-top:75px;
    border-radius: 10px;
    border: solid black 2px;
    box-shadow: 10px 5px;
}
.display,
.operations-tracker{
    background-color: beige;
    text-align: right;
    padding: 5px;
    font-size: 30px;
    height: 32px;
}
.operations-tracker{
    height: 15px;
    font-size:18px;
}
button{
    font-size: 30px;
    height: 48px;
    width: 40px;
    border-radius: 10%;
    font-family:'Roboto Mono', monospace;
    background-color: #d5d4d4;
}
.buttons,
.right-side{
    display: flex;
    flex-direction: column;
}
.right-side{
    gap:10px;
    justify-content: space-between;
    flex:1;
}
.right-side button{
    width: 100%;
    background-color: blue;
    color:white;
}
.operators button{
    background-color: white;
}
.numbers-container{
    width:150px;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
.operators{
    display: flex;
    gap:10px;
    margin-bottom:10px;
}
.container{
    display:flex;
}
.change-sign{
    font-size:28px;
}
.display-container{
    border:solid black 1px;
    margin-bottom: 15px;
}